@charset "utf-8";

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  /* 让设置的 padding 和 border 自动内减 */
  box-sizing: border-box;
}

body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7;
}

/*去除边框*/
fieldset, img, input, button, textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}

/*禁止表单域缩放*/
textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: #969696;
  /* 取消链接高亮  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 图片自适应 */
img {
  width: 100%;
  /*解决图片底部对齐问题*/
  display: block;
  border: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

/* 废物利用 */
em, i {
  font-style: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*清除浮动*/
/*
  双伪元素法
  1. before的作用: 防塌陷
  2. after的作用: 清浮动
*/
.clearfix:before, .clearfix:after {
  content: "";
  /* 触发bfc的类型 */
  display: table;
}
.clearfix:after {
  /* 清除浮动 */
  clear: both;
}

/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  /* 规定段落中的文本不换行 */
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*多行溢出*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 定义复用的精灵图类 */
.jd_sprite {
  /* 精灵图默认使用这个背景 */
  background: url("../images/jd-sprites.png") no-repeat 0 0;
  /* 这个背景是一个2倍图 */
  background-size: 200px 200px;
}


